<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <h1 style="font-size:30px; color:red">Do you want to play a game!</h1>
            <div style="padding-left:20%">
                <a href="/start" class="btn btn-success btn-large" id="startGame">Let's Play!</a>
            </div>
        </div>
        <div class="col-xs-4"></div>
    </div>
</div>


    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
</body>
</html>